<h5><%= laboratory.name %></h5>
<p><%= laboratory.address %></p>
<p><%= laboratory.phone %></p>
<p><%= laboratory.opening_time %>h às <%= laboratory.closing_time %>h</p>
<p><%= laboratory.website %></p>
