<div class="container-table">
  <div class="col-12 col-lg-8 offset-lg-2">
    <h1>ESCOLHA A CLÍNICA</h1>

    <div class="map-text-card">
      <div class="img">
        <% if @member.photo.url %>
          <%= cl_image_tag @member.photo %>
        <% else %>
          <%= image_tag "default.jpg" %>
        <% end %>
      </div>
        <div>
          <h5><b><%= @member.first_name.upcase %> <%= @member.last_name.upcase %> - <%= @member.category %></b></h5>
          <p><%= @member.birth_date.strftime("%d/%m/%Y") %> | <%= @member.gender %></p>
        </div>
    </div>

    <li class="list-unstyled mb-4">
      <button class="vaccine-list-btn btn btn-primary" href="#Submenu-<%= @vaccine.id %>" data-toggle="collapse" aria-expanded="false">
        <i class="fas fa-syringe"></i>
          <span><%= @vaccine.name %></span>
      </button>
      <ul class="collapse list-unstyled mt-2" id="Submenu-<%= @vaccine.id %>">
        <li><p><%= @vaccine.description %><</p></li>
      </ul>
    </li>

    <div
      id="map"
      style="width: 100%;
      height: 500px;
      border-radius: 10px"
      data-markers="<%= @markers.to_json %>"
      data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>"
    ></div>

    <div class="map-key">
      <div><%= image_tag "icon_red.png" %></div><p>REDE PÚBLICA</p>
      <div><%= image_tag "icon_blue.png" %></div><p>REDE PRIVADA</p>
    </div>
  </div>
</div>
