<div class="container">
  <div class="col-12 col-lg-8 offset-lg-2 custom-margin-top">
    <div class="form-edit">
      <h1>EDITAR VACINAS TOMADAS DO FAMILIAR</h1>
      <%= simple_form_for(@member) do |f| %>

      <%= f.error_notification %>
      <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

      <div class="row">
        <%= f.simple_fields_for :member_vaccines do |mv| %>
        <div class="col-12 col-md-6 col-lg-4">
          <div class="vaccines">
            <p><%= mv.object.vaccine.name.upcase %></p>
            <p><%= mv.input :vaccine_date, prompt: " ", order: [:day, :month, :year], start_year: Date.today.year - 90, end_year: Date.today.year, label: 'Data da vacinação' %></p>
            <p><%= mv.input :vaccinated, label: 'Vacina OK?' %></p>
          </div>
        </div>
        <% end %>
      </div>

      <%= f.button :submit, value: "Editar", class: "btn btn-primary" %>

      <% end %>
      <%= link_to 'Voltar ao perfil', @member %> | <%= link_to 'Voltar à página principal', members_path %>

    </div>
  </div>
</div>
