<div class="container">
  <div class="col-12 col-lg-6 offset-lg-3">

    <h1>PAGAMENTO</h1>
    <div class="appointment-new-card">
      <div>
        <% if @laboratory.category == "public" %>
          <%= image_tag "icon_red.png" %>
        <% else %>
          <%= image_tag "icon_blue.png" %>
        <% end %>
      </div>
      <div>
        <h4><strong><%= @laboratory.name.upcase %></strong></h4>
        <p>Endereço: <%= @laboratory.address %></p>
        <p>Tel: <%= @laboratory.phone %></p>
        <p>Horário: <%= @laboratory.opening_time %>h às <%= @laboratory.closing_time %>h</p>
        <p><%= link_to @laboratory.website, @laboratory.website %></p>
        <br>
        <h4><strong><%= @vaccine.name.upcase %></strong></h4>
        <h4>R$<%= (@vaccine_laboratory.price)/100 %></h4>
      </div>
    </div>
    <h4 id="date-modal"></h4>
    <%= form_tag email_confirmed_path(@appointment), method: :post do %>
    <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
      <script type="text/javascript"
        src="https://assets.pagar.me/checkout/checkout.js"
        data-encryption-key="<%= ENV['PAGARME_ENCRYPTION_KEY'] %>"
        data-ui-color="#808080"
        data-header-text="<%= "#{@laboratory.name} <br/> #{@vaccine.name} - R$ #{LaboratoryVaccine.find_by(vaccine: @vaccine, laboratory: @laboratory).price / 100}" %>"
        data-customer-email="<%= current_user.email %>"
        data-create-token="false"
        data-button-class="btn btn-primary w-50"
        data-amount="<%= @vaccine_laboratory.price %>">
      </script>
    <% end %>
  </div>
</div>





