<div class="container">
   <div>
       <h2>Agendamento confirmado!</h2>
   </div>
    <br>
    <br>
    <p> Você agendou a vacina <b><%= @appointment.vaccine_id %></b> para o paciente <b><%= @appointment.member_id %></b>. Favor comparecer na clínica <b><%= @laboratory.name %></b>, no endereço <b><%= @laboratory.address %></b> na data <b><%= @appointment.date %></b>.
    <br>
    <p>Em caso de dúvidas, entre em contato com a clínica no telefone <b><%= @laboratory.phone %></b>!</p>

    <%= link_to "Voltar à página principal", members_path, class: "btn btn-outline-success" %>
</div>
