<div class="container-table">
  <div class="col-12 col-lg-8 offset-lg-2 custom-margin-top">

    <h1>ESCOLHA UMA DATA E HORÁRIO</h1>
    <div class="appointment-new-card">
      <div>
        <% if @laboratory.category == "public" %>
          <%= image_tag "icon_red.png" %>
        <% else %>
          <%= image_tag "icon_blue.png" %>
        <% end %>
      </div>
      <div>
        <h4><strong><%= @laboratory.name.upcase %></strong></h4>
        <p>Endereço: <%= @laboratory.address %></p>
        <p>Tel: <%= @laboratory.phone %></p>
        <p>Horário: <%= @laboratory.opening_time %>h às <%= @laboratory.closing_time %>h</p>
        <p><%= link_to @laboratory.website, @laboratory.website %></p>
        <br>
        <h4><strong><%= @vaccine.name.upcase %></strong></h4>
        <h4>R$<%= @price/100 %></h4>
      </div>
    </div>

    <div class="col-12">
      <%= simple_form_for @appointment, method: :post do |f| %>
        <%= f.input :vaccine_id, as: :hidden, input_html: { value: @vaccine.id } %>
        <%= f.input :member_id, as: :hidden, input_html: { value: @member.id } %>
        <%= f.input :laboratory_id, as: :hidden, input_html: { value: @laboratory.id, data: {opening_time: "#{@laboratory.opening_time}:00", closing_time: "#{@laboratory.closing_time}:00" }} %>
        <%= f.input :date, label: "Escolha uma data:", as: :string, required: true, input_html: {class: "datepicker"} %>
        <a id="date-button" class="btn disabled"><%= f.submit 'Agendar' %></a>
      <% end%>
    </div>

  </div>
</div>



