<div class="container">
  <h2>Escolha uma data e horário:</h2>
  <div>
    <h4><strong><%= @laboratory.name %></strong></h5>
    <p>Endereço: <%= @laboratory.address %></p>
    <p>Tel: <%= @laboratory.phone %></p>
    <p>Horário: <%= @laboratory.opening_time %>h às <%= @laboratory.closing_time %>h</p>
    <p><%= link_to @laboratory.website, @laboratory.website %></p>
    <br>
    <h4><%= @vaccine.name %></h4>
    <h5>R$<%= @appointment.price %>,00</h5>
  </div>
  <div class="form-wrapper" style="width: 400px; margin: 0 auto;">
    <%= simple_form_for @appointment, url: member_vaccine_appointments_path(laboratory_id: @laboratory.id), method: "post" do |f| %>
      <%= f.input :date, label: "Escolha uma data:", as: :string, required: true, input_html: {class: "datepicker"} %>
      <%= f.button :submit, "Agendar", class: "btn btn-primary" %>
    <% end %>
  </div>
</div>


