<div class="container">
   <div>
      <h2>Seu agendamento foi confirmado!:</h2>
      <h3>O pedido número <%= @appointment.id %> foi aprovado!</h3>
      <h4>Um email de confirmação foi enviado</h4>
   </div>
    <br>
    <br>
    <div>
     <table>
        <thead>
          <tr>
            <th scope="col" class="table-title">Membro</th>
            <th scope="col" class="table-title">Vacina</th>
            <th scope="col" class="table-title">Local</th>
            <th scope="col" class="table-title">Data/Horário</th>
            <th scope="col" class="table-title">Valor</th>
          <br>
          </tr>
        </thead>
        <tbody>
          <%# @current_user.appointments.each do |appointment| %>
            <tr>
              <td><%= @appointment.member.first_name %> <%= @appointment.member.last_name %></td>
              <td><%= @appointment.vaccine.name %></td>
              <td><%= @appointment.laboratory.name %>
                <%= @appointment.laboratory.address %>
              </td>
              <td><%= @appointment.date %></td>
              <td>R$<%= @appointment.price %>,00</td>
            </tr>
          <%# end %>
        </tbody>
      </table>
    </div>
    <br>
    <p><%= link_to "Voltar à página principal", members_path %> | <%= link_to "Voltar à página do membro", member_path(@appointment.member_id) %></p>
</div>
