<div class="container">
  <div class="col-12 col-lg-8 offset-lg-2 custom-margin-top">
    <div class="form-member">

      <h1>ADICIONAR FAMILIAR</h1>
      <%= simple_form_for(@member) do |f| %>
        <%= f.error_notification %>
        <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

        <div class="row">
          <div class="col-lg-6">
            <%= f.input :first_name, label: 'Nome' %>
          </div>
          <div class="col-lg-6">
            <%= f.input :last_name, label: 'Sobrenome' %>
          </div>
        </div>

        <%= f.input :birth_date, order: [:day, :month, :year], prompt: " ", end_year: Date.today.year - 100, start_year: Date.today.year, label: 'Data de nascimento'%>

        <div class="row">
          <div class="col-6">
            <%= f.input :gender, as: :radio_buttons, collection: ['Feminino', 'Masculino'], label: 'Sexo' %>
          </div>
          <div class="col-6">
            <%= f.input :category, as: :radio_buttons, collection: ['Titular', 'Dependente'], label: 'Conta' %>
          </div>
        </div>

        <%= f.input :user_id, as: :hidden %>
        <%= f.input :photo, label: 'Foto' %>
        <%= f.input :photo_cache, as: :hidden %>

    </div>
          <%= f.button :submit, "Adicionar", class: "btn btn-primary" %>
      <% end %>
  </div>
</div>


