<!-- COMENTÁRIO:
  Dentro da partial todo conteúdo deve estar dentro de uma div .nested-fields
-->
<div class="nested-fields">
  <div class="field">
    <%= f.label :vaccine_date %>
    <%= f.text_field :vaccine_date %>
  </div>

  <div class="field">
    <%= f.label :vaccinated %>
    <%= f.text_field :vaccinated %>
  </div>


  <!-- COMENTÁRIO:
    link_to_remove_association é o helper que o cocoon nos fornece para deletar algum nested
  -->
  <%= link_to_remove_association "remove experience", f %>

  <br><br><br>
</div>
