<div class="container">
  <div class="col-sm-12">
    <div class="form-edit">
      <h1>EDITAR FAMILIAR</h1>
      <%= simple_form_for(@member) do |f| %>

        <%= f.error_notification %>
        <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

        <div class="d-inline">
        <%= f.input :first_name, label: 'Nome' %>
        <%= f.input :last_name, label: 'Sobrenome' %>
        </div>

        <%= f.input :birth_date, order: [:day, :month, :year], start_year: Date.today.year - 100, end_year: Date.today.year, label: 'Data de Nascimento' %>

        <%= f.input :gender, as: :radio_buttons, collection: ['Feminino', 'Masculino'], label: 'Gênero' %>
        <%= f.input :category, as: :radio_buttons, collection: ['Titular', 'Dependente'], label: 'Conta' %>

        <%= f.input :photo %>
        <%= f.input :photo_cache, as: :hidden %>

        <%= f.input :user_id, as: :hidden %>
    </div>

      <div class="row">
        <%= f.simple_fields_for :member_vaccines do |mv| %>
          <div class="col-xs-12 col-md-6 col-lg-4">
            <div class="vaccines">
              <p><%= mv.object.vaccine.name.upcase %></p>
              <p><%= mv.input :vaccine_date, prompt: " ", order: [:day, :month, :year], start_year: Date.today.year - 90, end_year: Date.today.year, label: 'Data da vacinação' %></p>
              <p><%= mv.input :vaccinated, label: 'Vacina OK?' %></p>
            </div>
          </div>
        <% end %>
      </div>



        <%= f.button :submit, value: "Editar", class: "btn btn-primary mb-3" %>
      <% end %>

    <%= link_to 'Voltar ao perfil', @member %> |
    <%= link_to 'Voltar à página principal', members_path %>
  </div>
</div>
