<div class="container">
  <div class="col-12 col-lg-8 offset-lg-2">
    <div class="form-edit">
      <h1>EDITAR DADOS PESSOAIS DO FAMILIAR</h1>
      <%= simple_form_for(@member) do |f| %>

        <%= f.error_notification %>
        <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

        <div class="row">
          <div class="col-lg-6">
            <%= f.input :first_name, label: 'Nome' %>
          </div>
          <div class="col-lg-6">
            <%= f.input :last_name, label: 'Sobrenome' %>
          </div>
        </div>

        <%= f.input :birth_date, order: [:day, :month, :year], start_year: Date.today.year - 100, end_year: Date.today.year, label: 'Data de Nascimento' %>

        <div class="row">
          <div class="col-6">
            <%= f.input :gender, as: :radio_buttons, collection: ['Feminino', 'Masculino'], label: 'Sexo' %>
          </div>
          <div class="col-6">
            <%= f.input :category, as: :radio_buttons, collection: ['Titular', 'Dependente'], label: 'Conta' %>
          </div>
        </div>

        <%= f.input :photo, label: 'Foto' %>
        <%= f.input :photo_cache, as: :hidden %>

        <%= f.input :user_id, as: :hidden %>

        <div class="row">
          <%= f.simple_fields_for :member_vaccines do |mv| %>
            <div class="col-12 col-md-6 col-lg-4">
              <div class="vaccines">
                <p><%= mv.object.vaccine.name.upcase %></p>
                <p><%= mv.input :vaccine_date, prompt: " ", order: [:day, :month, :year], start_year: Date.today.year - 90, end_year: Date.today.year, label: 'Data da vacinação' %></p>
                <p><%= mv.input :vaccinated, label: 'Vacina OK?' %></p>
              </div>
            </div>
          <% end %>
        </div>

        <%= f.button :submit, value: "Editar", class: "btn btn-primary" %>

      <% end %>

    </div>
    <div class="mt-5 mb-3">
      <%= link_to 'Voltar ao perfil', @member %> | <%= link_to 'Voltar à página principal', members_path %>
    </div>
  </div>
</div>
