<div class="container">
  <div class="row justify-content-center">
    <div class="col-xs-12 col-sm-6 col-lg-12">
      <div class="form-member">
        <h1>Editar familiar</h1>
        <%= simple_form_for(@member) do |f| %>

          <%= f.error_notification %>
          <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

          <div class="form-inputs">

          <%= f.input :first_name, label: 'Nome' %>
          <%= f.input :last_name, label: 'Sobrenome' %>

          <%= f.input :birth_date, order: [:day, :month, :year], start_year: Date.today.year - 100, end_year: Date.today.year, label: 'Data de Nascimento' %>

          <%= f.input :gender, as: :radio_buttons, collection: [['0', 'Feminino'], ['1', 'Masculino']], label_method: :second, value_method: :first, label: 'Gênero' %>
          <%= f.input :category, as: :radio_buttons, collection: [['0', 'Titular'], ['1', 'Dependente']], label_method: :second, value_method: :first, label: 'Conta' %>

          <%= f.input :photo %>
          <%= f.input :photo_cache, as: :hidden %>

          <%= f.input :user_id, as: :hidden %>

           <div class="ed-vaccs">
            <%= f.simple_fields_for :member_vaccines do |mv| %>
              <div class="col-xs-12 col-sm-12 justify-content-between m-0">
                <div class="vaccines vaccine-btn ed-vaccs">
                    <p><%= mv.object.vaccine.name.upcase %></p>
                    <p><%= mv.input :vaccine_date, prompt: " ", order: [:day, :month, :year], start_year: Date.today.year - 90, end_year: Date.today.year, label: 'Data da vacinação' %></p>
                    <p><%= mv.input :vaccinated, label: 'Vacina OK?' %></p>
                </div>
              </div>
            <% end %>
           </div>

          <div class="form-actions">
            <%= f.button :submit, value: "Editar", class: "btn btn-primary mb-3" %>
          </div>
            <% end %>

          <%= link_to 'Voltar ao perfil', @member %> |
          <%= link_to 'Voltar à página principal', members_path %>
      </div>
    </div>
    </div>
  </div>
</div>
