<h1>Members#show</h1>
<p>Find me in app/views/members/show.html.erb</p>

<%= @member.first_name %>
<%= @member.first_name %>
<%= @member.first_name %>
<%= @member.first_name %><%= @member.first_name %>

<%= link_to "Editar", edit_member_path(@member) %>
<%= link_to "Deletar", member_path(@member), method: :delete, data: { confirm: "Tem certeza de quer deletar este dependente?" } %>
