<div class="container">
  <div class="col-12 col-lg-8 offset-lg-2">
    <h1>CARTÃO DE VACINAS</h1>
      <div class="cards vac-card">
        <div>
          <% if @member.photo.url %>
            <%= cl_image_tag @member.photo %>
          <% else %>
            <%= image_tag "default.jpg" %>
          <% end %>
        </div>
        <div>
          <h1><%= @member.first_name %> <%= @member.last_name %></h1>
          <h3><%= @member.birth_date.strftime("%d/%m/%Y") %> | <%= @member.gender %></h3>

          <h5><%= @member.category %></h5>
        </div>
      </div>


      <p>VACINAS TOMADAS</p>

      <div class="row">
        <% vaccine_taken(@member).each do |mv| %>
          <div class="col-6 col-md-4 col-lg-4">
            <div class="vaccines-tomadas">
              <p><%= link_to mv.name.upcase, member_vaccine_show_path(Appointment.find_by(member: @member, vaccine: mv), format: :pdf), target: :_blank %> | <%#= mv.vaccine_date %></p>
            </div>
          </div>
        <% end %>
      </div>

      <p>VACINAS PENDENTES</p>

      <div class="row">
        <% vaccine_expired(@member).each do |mv| %>
          <div class="col-6 col-md-4 col-lg-4">
            <div class="vaccines-pendentes">
              <p><%= link_to mv.name.upcase, member_vaccine_path(@member, mv) %></p>
              <p><%#= mv.vaccine_date %></p>
            </div>
          </div>
        <% end %>
      </div>

      <p style="margin-top: 5px"><%= link_to "Editar", edit_member_path(@member) %> | <%= link_to "Deletar", member_path(@member), method: :delete, data: { confirm: "Tem certeza de quer deletar este dependente?" } %> | <%= link_to 'Voltar à página principal', members_path %></p>
  </div>
</div>

