<div class="container">
    <div class="row justify-content-center">
      <div class="col-12 col-sm-6 col-lg-12">
        <div class="form-member">
          <h1>Cartão de vacinas</h1>

          <%= @member.first_name %>
          <%= @member.last_name %>
          <%= @member.birth_date.strftime("%d, %B %Y") %>
          <%= @member.gender %>
          <%= @member.category %>


          <p>VACINAS TOMADAS</p>
          <div class="row col-12 d-flex justify-content-between m-0">
          <% @member.member_vaccines.each do |mv| %>
            <%  if mv.vaccinated %>
              <p><%= mv.vaccine.name.upcase class: "vaccine-btn btn-primary"%></p>
              <p><%= mv.vaccine_date %></p>
            <% end %>
          <% end %>

          <p>VACINAS PENDENTES</p>
          <div class="row col-12 d-flex justify-content-between m-0">
              <% @member.member_vaccines.each do |mv| %>
                <%  if !mv.vaccinated %>

                  <p><%= link_to mv.vaccine.name.upcase, member_vaccine_path(@member, mv.vaccine), class: "vaccine-btn btn-primary" %></p>
                  <p><%= mv.vaccine_date %></p>
                <% end %>
              <% end %>
          </div>

          <%= link_to "
          Editar", edit_member_path(@member) %>
          <%= link_to "Deletar", member_path(@member), method: :delete, data: { confirm: "Tem certeza de quer deletar este dependente?" } %>
          <%= link_to 'Voltar à página principal', members_path %>
        </div>
      </div>
    </div>
  </div>

