<div class="container">
  <div class="row justify-content-center">
    <div class="col-12 col-sm-6 col-lg-12">
      <div class="form-member">
        <h1>Cartão de vacinas</h1>

        <%= @member.first_name %>
        <%= @member.last_name %>
        <%= @member.birth_date.strftime("%d, %B %Y") %>
        <%= @member.gender %>
        <%= @member.category %>
        <% if @member.photo.url %>
          <%= cl_image_tag @member.photo %>
        <% else %>
          <%= image_tag "default.jpg" %>
        <% end %>


        <p>VACINAS TOMADAS</p>
        <div class="row col-12 justify-content-between m-0">
        <% @member.member_vaccines.each do |mv| %>
          <% if mv.vaccinated %>
            <p class="vaccine-tomada"><%=mv.vaccine.name.upcase%> | <%= mv.vaccine_date %></p>
          <% end %>
        <% end %>
        </div>

        <p>VACINAS PENDENTES</p>
        <div class="row col-12 justify-content-between m-0">
            <% @member.member_vaccines.each do |mv| %>
              <%  if !mv.vaccinated %>

                <p><%= link_to mv.vaccine.name.upcase, member_vaccine_path(@member, mv.vaccine), class: "vaccine-btn btn-danger" %></p>
                <p><%= mv.vaccine_date %></p>
              <% end %>
            <% end %>
        </div>

        <p style="margin-top: 5px"><%= link_to "Editar", edit_member_path(@member) %> | <%= link_to "Deletar", member_path(@member), method: :delete, data: { confirm: "Tem certeza de quer deletar este dependente?" } %> | <%= link_to 'Voltar à página principal', members_path %></p>
      </div>
    </div>
  </div>
</div>

