<h1>Members#show</h1>
<p>Find me in app/views/members/show.html.erb</p>

<%= @member.first_name %>
<%= @member.last_name %>
<%= @member.birth_date %>
<%= @member.gender %>
<%= @member.category %>


<p>Vacinas tomadas</p>
<% @member.member_vaccines.each do |mv| %>
    <%  if mv.vaccinated %>
    <%= mv.vaccine_id%>
    <%#= mv.vaccine_date %>
   <% end %>
<% end %>

<p>Vacinas pendentes</p>
<% @member.member_vaccines.each do |mv| %>
    <%  if !mv.vaccinated %>
    <%= mv.vaccine_id%>
    <%#= mv.vaccine_date %>
   <% end %>
<% end %>

<%= link_to "Editar", edit_member_path(@member) %>
<%= link_to "Deletar", member_path(@member), method: :delete, data: { confirm: "Tem certeza de quer deletar este dependente?" } %>
